<div class="jumbotron" id="tron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group" id="list1">
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group" id="list2">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
                <BR><BR>
                <div class="text-center">

                    <div class="row">
                        <div class="col"></div>
                        <div class="col-4"><form name='dat-piff'><input type="text" name="burger_name" placeholder="Burger Name" class="form-control form-control-lg text-center" id="bgr_name"></div>
                        <div class="col"></div>
                    </div>
                    <BR>
                    <button class="btn btn-primary btn-lg" id="bgr_add" type="submit">Add Burger!</button></form>
                </div>
            </div>
        </div>
    </div>
</div>
